.container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 100vh;

    padding: 20px;

    .banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            filter: brightness(.8);
        }
    }

    .svgContainer {
        position: absolute;
        bottom: 100px;
        right: 250px;

        z-index: 2;

    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding-bottom: 40px;

        width: 100%;
        max-width: 1200px;

        z-index: 2;

        .title {}

        .paragraph {}

        .buttonContainer {

            button {
                padding: 10px 8px;
                border-radius: 2rem;
                background-color: var(--greenLime);
                color: #000;


            }
        }
    }


}